@import url("https://fonts.googleapis.com/css2?family=Anton&family=East+Sea+Dokdo&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,900&family=Sevillana&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
  overflow-y: scroll;
}
body {
  background: linear-gradient(to bottom, rgb(19, 1, 1), rgb(137, 0, 211),black);
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 0.4rem;
 background-color: #000000;
  box-shadow: 0 7px 7px 0;
  position: fixed;
  width: 100%;
  z-index: 999;

}
.navbar ul {
  list-style-type: none;
  margin-right: 2rem;
  z-index: 3;


}
.navbar ul li a {
  padding: 0.4rem;
  color: aliceblue;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: blue;
  transition: 0.8s;
}
.navbar .nama {
  display: flex;
  margin-left: 2rem;
  color: aliceblue;
}
.nama span {
  color: blue;
}
.mobile {
  font-size: 1.5rem;
  color: aliceblue;
  display: none;
  z-index: 1;
}
#check {
  display: none;
}
.sidbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -400px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 666;
}
.close{
  color: rgb(255, 254, 254);
  font-size: 2.3rem;
  margin-left: 20rem;
}
.sidbar ul li{
  width: 30px;
  line-height: 5rem;
  text-decoration: none;
  margin-top: 2rem;
  margin-left: 0rem;
}
.active{
 padding: 6px;
 border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
  .active:hover{
    color: blue;
    background-color: #000000;


}
.sidbar h3{
  color: white;
  margin-top: -2.5rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.sidbar ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(0, 30, 255);
  margin-left: 1rem;
  margin-top: 4rem;
  font-weight: bold;
}
.sidbar ul li a:hover {
  color: aliceblue;
  transition: 0.8s;
}

#check:checked ~ .sidbar {
  left: 0;
  transition: 1s;
}
/* navbar */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .mobile {
    display: inline;
  }
  .navbar ul {
    display: none;
  }
}


/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
 img{
  width: 70px;
 }
}

/* conten */
.content .img {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  border: 0.4px solid rgb(4, 0, 0);
  margin-top: 5rem;
  margin-bottom: 1rem;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.538);
  box-shadow: 0 7px 10px 0 black;
  border-radius: 5px;
}
.main {
  color: aliceblue;
  text-align: center;
  margin-top: 2rem;
  
}
.main h1 {
  font-size: 3rem;
  margin-top: 2rem;
  text-shadow: 0 2rem 2rem 0 black;
  line-height: 2rem;
}
.main span {
  color: blue;
  text-shadow: 0 2rem 2rem 0 black;
}
.main h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
.main p {
  font-weight: 50;
  line-height: 1.5rem;
  padding: 2rem;
  width: 50%;
  margin-top: -2rem;
  border-radius: 6px;
  box-shadow: 0 7px 10px 0 black;
}
.paragraf {
  display: flex;
  justify-content: center;
}
.dwd {
  margin-top: 2rem;
  padding: 2rem;
}
.cv {
  box-shadow: 0 7px 7px 0 black;
  background-color: aliceblue;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  margin: 0 1rem;
}
.ct {
  box-shadow: 0 10px 7px 0 black;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  text-decoration: none;
  color: rgb(255, 254, 254);
  font-weight: bold;
  border-radius: 6px;
  margin: 0 1rem;
}
.cv:hover {
  color: blue;
  background-color: black;
  transition: 1s;
  transform: scale(0.8);
}
.ct:hover {
  color: blue;
  transition: 1s;
  background-color: aliceblue;
}
/* conten */
/* about */
.card {
 
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.card .img1 {
 
  margin-top: 2rem;
  color: aliceblue;
  width: 250px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 7px 10px 0 black;
}
.img1:hover{
  transform: scale(0.8);
  transition: 1s;
  
}
.img1 img {
  border: 1px solid white;
  width: 250px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: none;
}
.img1:hover{
  background-color: rgb(131, 0, 202);
  color: #000000;
}
.img1 button {
  padding: 0.2rem 10%;
  background-color: blue;
  color: aliceblue;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 2rem;
}
.img1 button a {
  text-decoration: none;
  color: aliceblue;
}
.img1 button:hover{
  background-color: aliceblue;
  transition: 0.7s;
}
.img1 button a:hover{
  color: blue;
}
.img1 {
  margin: 0 2rem;
 
}
.img1 h3 {
  font-size: 1.8rem;
    padding: 0.5rem;
  text-align: center;
  padding: 0.4rem;
}
.img1 p {
  text-align: center;
    font-size: 1.3rem;
  padding: 0.5rem;
  line-height: 1.5rem;
}
.ab {
    text-align: center;
    margin-bottom:1rem;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: italic;
  
  }
  .ab span{
    color: blue;
  }
  
  .card1{
    object-fit: cover;
    height: 280px;
    margin-bottom: 3rem;
  }
  .card1 h3{
    text-align: center;
    margin-top: -87rem;
  }
  
  .card3{
   
    object-fit: cover;
  }
  .card h3{
    margin-top: 3.3rem;
  }
  


/* about */
/* gallery */
.ac{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-top: 6rem;
    font-style: italic;
    
  


  }
section{
    display: flex;
    justify-content: center;

}
.img2{
    margin-top: -4rem;
    padding: 2rem;
}

.img2 h2{
 text-align: center;

}
.img2 img{
  border: 2px solid rgb(11, 19, 169);
  padding: 1rem;
box-sizing: border-box;
 margin-top: -2rem;
width: 300px;
height: 200px;
margin-top: 7rem;
object-position: center;
object-fit: cover;
align-items: center;
text-align: center;
margin-bottom: 4rem;
box-shadow: 0 10px 18px 0 black;
}
.p{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5rem;
    padding: 2rem;
    margin: 0 20%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 7px 10px 0 black;
    width: 300px;
    height: 150px;
    font-size: 0.8rem;
    margin-right: -6rem;
}
.red{
    text-align: center;
    margin-top: -2rem;
    line-height: 3rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
   
}
.img2 p{
 margin-left: -1rem;
}
.wrapper{
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}
.bungkus-certi{

 text-align: center;
  justify-content: center;
  padding: 1rem;
}
/* servic */
.ad{
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin-top: 4rem;
  font-style: italic;
}
.servic{
  width: 100%;
  margin-top: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}
.servic1{
  text-align: center;
 
  width: 50%;
 
}
.icon{
  font-size: 5rem;
  color: rgb(254, 9, 9);
padding: 1rem;


}
.servic1 h4{
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}
.servic1 p{
  font-size: 1.2rem;
  color: aliceblue;
  box-sizing: border-box;
  margin: 0 3rem;
  padding-bottom: 2rem;
}
/* garis */
/* skil */
.skil{
 
  height: 200px;
  padding: 2rem;
  padding-bottom: 20rem;
  line-height: 2rem;
}
.skil1{
  border: 1px solid;
  height: 20px;
  background-color: #061d06;
 
}
.skil2{
  border: 1px solid;
  height: 20px;
  width: 70%;
  background-color: rgb(0, 252, 25);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.skil2 h2{
  text-align
  : center;
}
.langguage{
  text-align: start;
  margin-bottom: 1rem;
  color: aliceblue;
}
.skil3{
  border: 1px solid;
  height: 20px;
  width: 85%;
  background-color: rgb(0, 252, 25);
  align-items: center;
  display: flex;
  justify-content: center;
}
.skil3 h2{
  text-align: center;
}
.skil4{
  border: 1px solid;
  height: 20px;
  width: 75%;
  background-color: rgb(0, 252, 25);
  align-items: center;
  display: flex;
  justify-content: center;
}
.skil4 h2{
  text-align: center;
}
.skil5{
  border: 1px solid;
  height: 20px;
  width: 40%;
  background-color: rgb(0, 252, 25);
  align-items: center;
  display: flex;
  justify-content: center;
}
.skil5 h2{
  text-align: center;
}
/* contact */
.kontainer{

  height: 50vh;
  margin-top: -0.3rem;
  margin-bottom: 3rem;
}
.contact{
  text-align: center;
 font-size: 1.5rem;
}
.contact span{
  color :blue;
}
.kontak{
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.kontak h3{
  text-align: start;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgb(0, 0, 0);


}
.kontak ul{
  padding: 2rem;
  line-height: 2rem;
  display: inline-block;
  margin: 0 1rem;
  margin-top: 2rem;
  align-items: center;
  text-align: start;
  list-style-type: none;
  box-shadow: 0 7px 10px 0 black;
  
}
.kontak li a{
  text-decoration: none;
  color: rgb(132, 138, 143);
  
}
.bungkus{
  display: flex;
  justify-content: center;
 
}
.kontak .mail{
  font-size: 0.6rem;
}
.map{
  display: flex;
  justify-content: center;
}
.lok{
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
  color: white;
  font-size: 1.5rem;

}
.map1{
  border: 1px solid;
  padding: 1rem;
 
}
.map2{
  margin-top: -3rem;
}
footer{
  height: 10vh;
  background-color: rgb(34, 27, 27);
  margin-top: 3rem;
  box-shadow: 8px white;
}
.footer1{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.footer1 h5{
  color: aliceblue;
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}
.text{
  font-size: 1rem;
  color: white;
}